*{
    margin: 0;
    padding:0;
    box-sizing:border-box;

    font-family: 'Press Start 2P'
 
}

body{
    background:black;
    height:100vh;
    width: 100vw;

}
h1{

    padding-top:100px;
    color:red;
    font-size: 4rem;
    text-align: center;

}
h2{
    padding-top:25px;
    color:red;
    text-align: center;
    padding-bottom: 100px;
}
span{
   
    display: inline;

    opacity: 0;
    transition: all 2s ease, min-width 10s ease-in;

    transform: translate(-50px, -75px );


}

span.fade{
    opacity: 1;

    transform: translate(0px,0px);
    


 
}

.space{

    min-width: 50px;
    width:24px;



}
.gameWindow{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:50px;
    height:300px;
}
img{
    /* overflow:hidden; */
    /* -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: drop-shadow(0 0 0 black); */
    height:200px;
    transition:all .5s ease;
}
img:hover{
    /*safari drop shadow work around*/
    will-change: filter;
    
    height:250px;
    filter: drop-shadow(0 0 3.75rem crimson);
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    /* overflow:hidden; */
}

.desc1{

}
.hide{
    display:none;
}